.neon-effect {

}
.camera-shutter{

}
/*paleta de cores*/
/*gradiente*/
bg-gradient-to-r from-cyan-400 to-violet-600

/*paleta*/
Fundo principal #050509
Fundo secundário #0D0D16
Azul IILUME #00D9FF
Roxo IILUME #7C3AED
Texto primario #FFFFFF
Texto secundário #A1A1AA
Bordas #27272A

/*fonte*/
letra Arial


/* GALERIA*/
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PÁGINA */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: Arial, sans-serif;
}

/* CELULAR*/
.phone {
    width: 360px;
    height: 760px;
    background: #050821;
    border-radius: 42px;
    overflow: hidden;
    position: relative;
    border: 5px solid #11152f;
    box-shadow:
            0 0 0 2px #272b52,
            0 15px 40px
            rgba(0, 0, 0, 0.45);
}

/* CABEÇALHO */
.phone-header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 18px 10px;
    background: #050821;
    color: white;
}

/* Botão voltar */
.header-button {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: #a98cff;
    cursor: pointer;
}

.header-button svg {
    width: 25px;
    height: 25px;
}

/* Título */
.phone-header h1 {
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

/* Editar */
.edit-button {
    border: none;
    background: transparent;
    color: #a98cff;
    font-size: 13px;
    cursor: pointer;
}

/* FOTO PRINCIPAL */
.main-photo {
    width: 100%;
    height: 485px;
    overflow: hidden;
    background: #111;
}

.main-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* MINIATURAS */
.thumbnails {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 8px;
    overflow-x: auto;
    background: #030617;
}

/* Esconder barra */
.thumbnails::-webkit-scrollbar {
    height: 0;
}

/* Miniatura */
.thumbnail {
    width: 46px;
    height: 62px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid transparent;
    opacity: 0.65;
    cursor: pointer;
    transition: 0.2s;
}

/* Miniatura selecionada */
.thumbnail.active {
    opacity: 1;
    border-color: #a879ff;
    box-shadow:
            0 0 7px
            rgba(0, 220, 255, 0.7);
}

/* AÇÕES */
.bottom-actions {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #030617;
    border-top: 1px solid #111630;
}

/* Botões */
.action-button {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: #aaaaff;
    cursor: pointer;
    transition: 0.2s;
}

/* Ícones */
.action-button svg {
    width: 27px;
    height: 27px;
}

/* Hover */
.action-button:hover {
    color: #00e5ff;
    transform: scale(1.1);
}

/* Favorito selecionado */
.action-button.favorite-active {
    color: #00e5ff;
}

/* BARRA HOME*/
.home-indicator {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: white;
    border-radius: 20px;
}

/* INFORMAÇÕES*/
.photo-info {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 75px;
    padding: 18px;
    border-radius: 18px;
    background: rgba(10, 12, 35, 0.97);
    border: 1px solid #333867;
    color: white;
    z-index: 10;
    box-shadow:
            0 10px 30px
            rgba(0, 0, 0, 0.5);
}

.photo-info h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

.photo-info p {
    font-size: 12px;
    color: #aaa;
    margin-top: 5px;
}

/* RESPONSIVIDADE */
@media (max-width: 500px) {
    body {
        align-items: flex-start;
    }

    .phone {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        border: none;
        border-radius: 0;
    }
    .phone-header {
        height: 90px;
    }
    .main-photo {
        height: calc(
                100vh - 237px
        );
    }

    .thumbnails {
        height: 72px;
    }
    .bottom-actions {
        height: 65px;
    }
}